*{
    font-family:arial, sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-gen-box{
    border: 1px solid black;
    width:28.125em ;
    height: 34.375em;
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: -1px 5px 2px black;
}
.heading{
    font-family: Karla;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute;
    top: 90px;
    left: 0.557em;
}
#lock-el{
    position: absolute;
    left:13.4375em;
    top: 5px;
    opacity: 0.23;
}
.password-gen-box p{
    position: absolute;
    top:190px;
    left: 1.6em;
    opacity: 0.8;
}
.input-box{
    position: absolute;
    top: 260px;
    left: 1.5625em;
}
.input-box{
    position: relative;
}
#password-length{
  height: 35px;
  width: 12.5em;
  position: relative;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 1.2565em;
  z-index: 1;
  border: 2px solid rgb(0, 128, 0,0.);
  border-radius: 6px;
} 
.input-box label{
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 2;
    background: white;
    color: black;
    border: 2px solid white;
    border-radius: 6px;
}
.buttons{
    position:absolute;
    top: 26em;
    left: 1.8em;
    display: flex;
    gap: 1.9em;
}
.buttons button{
    border: none;
    border-radius: 20px;
    background-color: rgb(50, 46, 46);
    color: white;
    width: 10.5em;
    font-size: 0.99375em;
    height: 40px;
    font-weight: 750;
}
.buttons button:hover{
    background-color:black ;
}
#generated-password{
    position: absolute;
    top: 21em;
    left: 1.8em;
    color: black;
    font-weight: 800;
    opacity: 0.8;
    font-family:Arial, Helvetica, sans-serif;
    
}